services:
  app:
    build: .
    container_name: data_processing_system
    volumes:
      - ./logs:/app/logs
    environment:
      - PYTHONUNBUFFERED=1
    command: python main.py

  test:
    build: .
    container_name: data_processing_tests
    command: python -m unittest discover -s tests -t . -v
    profiles:
      - test